@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: sans-serif;
  display: flex; }

.regresar {
  width: 33px;
  height: 33px;
  margin: 20px; }

.nav {
  width: 300px; }
  .nav .list {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(217deg, #e2e1e1 0%, #706a6a 100%); }
    .nav .list .box-img {
      width: 80%;
      height: 26%;
      margin: 40px auto; }
      .nav .list .box-img .logo {
        width: 100% !important;
        height: 100% !important; }
    .nav .list .list__inside .nav_link:hover {
      background: linear-gradient(217deg, #e2e1e1 0%, #706a6a 100%); }
    .nav .list .list_item {
      list-style-type: none;
      width: 100%;
      text-align: center;
      overflow: hidden; }
      .nav .list .list_item .list__show {
        width: 80%;
        margin-left: auto;
        border-left: 2px solid #303440;
        list-style: none;
        transition: height .4s;
        height: 0; }
      .nav .list .list_item .list__button {
        display: flex;
        align-items: center;
        gap: 1em;
        width: 70%;
        margin: 0 auto; }
        .nav .list .list_item .list__button .nav_link--inside {
          border-radius: 6px;
          padding-left: 16px; }
      .nav .list .list_item .list__arrow {
        margin-left: auto; }
    .nav .list .list_item--click {
      cursor: pointer; }

.nav_link {
  color: #303440;
  display: block;
  padding: 15px 0px;
  text-decoration: none; }

img {
  width: 20px;
  height: 20px; }

.main {
  width: 100%;
  background-color: rgba(254, 244, 244, 0.73); }
  .main .cards {
    width: 80%;
    margin: 40px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    .main .cards .card {
      width: 25%;
      margin: 30px;
      background: linear-gradient(217deg, #e2e1e1 0%, #706a6a 100%);
      border-radius: 10px;
      text-align: center;
      padding: 20px; }
      .main .cards .card h2 {
        margin-bottom: 6px;
        font-size: 1.6rem; }
      .main .cards .card .card-contenido .card-img {
        width: 40px;
        height: 40px; }
      .main .cards .card .card-contenido p {
        margin-top: 10px;
        margin-bottom: 7px;
        font-size: 1.2rem; }
      .main .cards .card .card-contenido button {
        width: 100%;
        height: 30px;
        border-radius: 10px;
        background-color: #303440;
        color: #fff;
        font-size: 1.2rem;
        border: none;
        outline: none;
        cursor: pointer; }
      .main .cards .card .card-contenido a {
        text-decoration: none;
        color: #fff; }
  .main .title {
    font-size: 3.5rem;
    font-weight: 700;
    margin-top: 3rem;
    text-align: center; }

.main .box-table {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .main .box-table .box-table-text {
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px; }
    .main .box-table .box-table-text h2 {
      margin: auto 0;
      font-size: 300%; }
    .main .box-table .box-table-text .box-button {
      display: flex;
      align-items: center;
      padding: 5px; }
      .main .box-table .box-table-text .box-button .boton-table {
        width: 300px;
        padding: 5px;
        text-align: center;
        border: 1px solid #ccc;
        border-radius: 4px;
        background: #909090;
        cursor: pointer;
        text-decoration: none;
        color: #000000; }
      .main .box-table .box-table-text .box-button .boton-table:hover {
        background: #727272;
        color: #fbfbfb; }
  .main .box-table .table {
    margin: auto;
    border-collapse: collapse;
    width: 70%; }
    .main .box-table .table th {
      padding: 1em;
      border: 2px solid #303440; }
    .main .box-table .table .contain {
      border: 2px solid #303440; }
      .main .box-table .table .contain td {
        padding: 1em;
        border: 2px solid #303440; }

.div_form {
  width: 80%;
  margin: auto; }
  .div_form .form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%; }
    .div_form .form .first_head {
      width: 50%; }
      .div_form .form .first_head .box_input {
        width: 100%; }
        .div_form .form .first_head .box_input label {
          width: 100%;
          text-align: left;
          font-size: 1.2rem;
          color: #000;
          margin-bottom: 0.5rem; }
        .div_form .form .first_head .box_input input {
          width: 50%;
          height: 1.5rem;
          border: 1px solid #000;
          border-radius: 0.5rem;
          padding: 0.5rem;
          font-size: 1.2rem;
          color: #000;
          margin-bottom: 0.5rem; }
    .div_form .form .second_head {
      width: 50%; }
      .div_form .form .second_head .box_input {
        width: 100%; }
        .div_form .form .second_head .box_input select {
          width: 50%;
          height: 1.5rem;
          border: 1px solid #000;
          border-radius: 0.5rem;
          font-size: 12px;
          color: #000;
          margin-bottom: 0.5rem; }
        .div_form .form .second_head .box_input label {
          width: 100%;
          text-align: left;
          font-size: 1.2rem;
          color: #000;
          margin-bottom: 0.5rem; }
        .div_form .form .second_head .box_input input {
          width: 50%;
          height: 1.5rem;
          border: 1px solid #000;
          border-radius: 0.5rem;
          padding: 0.5rem;
          font-size: 1.2rem;
          color: #000;
          margin-bottom: 0.5rem; }
    .div_form .form .agregar {
      width: 30%; }

.card-error {
  width: 70%;
  height: 100%;
  color: red;
  text-align: center;
  border-radius: 6px;
  margin: 5px auto;
  padding: 11px;
  background: rgba(250, 177, 177, 0.671); }

.card-success {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: greenyellow; }
