@import "_colores";

.main{

    .box-table{
        display: flex;
        flex-direction: column;
        align-items: center;

        .box-table-text{
            width: 70%;
            display: flex;
            justify-content: center;
            margin-bottom: 25px;
            

            h2{
                margin: auto 0;
                font-size: 300%;
            }

            .box-button{
                display: flex;
                align-items: center;
                padding: 5px;

                .boton-table{
                    width: 300px;
                    padding: 5px;
                    text-align: center;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                    background: rgb(144, 144, 144);
                    cursor: pointer;
                    text-decoration: none;
                    color: #000000;
                }
    
                .boton-table:hover{
                    background: rgb(114, 114, 114);
                    color: rgb(251, 251, 251);
                }
            }
            
        }
        
        .table{
            margin: auto;
            border-collapse: collapse;
            width: 80%;

            #table-agregar{
                text-align: center;
                font-size: 1.1rem;
            }

            th{
                padding: 1em;
                border: 2px solid #303440;
            }
            

            .contain{
                border: 2px solid #303440;
                
                td{                 
                    border: 2px solid #303440;
                }
            }     
        }
    }
}