@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    display: flex;
}

.regresar{
    width: 33px;
    height: 33px;

    margin: 20px
}

@import "_menu";
@import "_card";
@import "_table";
@import "_crearFormVenta";


.card-error{
    width: 70%;
    height: 100%;
    color: red;
    text-align: center;
    border-radius: 6px;
    margin: 5px auto;
    padding: 11px;
    background: rgba(250, 177, 177, 0.671);
}

.card-success{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: greenyellow;
}