@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    display: flex;
}

.regresar{
    width: 33px;
    height: 33px;

    margin: 20px
}

@import "_menu";
@import "_card";
@import "_table";
@import "_crearFormVenta";
@import "_colores";
@import "_js";  


